*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F2A30A;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logout {
    font-size: 14px;
    margin-top: 5%;
}

section {
    padding: 2%;
}

.conteudo {
    flex: 1 0 auto;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 15%;
    height: 15rem;
    background-color: antiquewhite;
    margin-right: 5px;
    border-radius: 5%;
    margin-top: 15px;
    padding: 1.5%;
    display: flex;  
    flex-direction: column; 
    align-items: center;
}

.img-card {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 55%;
}

.card h4 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.preco {
    font-weight: bold;
    font-size: 14px;
}

.divisao {
    font-size: 11px;
}

.card p {
    margin-bottom: 5%;
}

.rodape {
    flex-shrink: 0;
}

header {
    background-color: #FFCF00;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}
.container .div-container {
    width: 25%;
    display: flex;
    align-items: center;
}

.img-logo {
    width: 30%;
}

.search-box{
    background-color: white;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    width: 350px;
    height: 40px;
}
.search-box input{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: black;
    padding: 5px;
}
.search-box input:focus-visible {
    outline: none;
}

.login {
    justify-content: end;
    padding: 15px;
}
.login a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

nav{
    background-color: #F5F0F0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px #313b4580;
}
.menu > li, .menu > a {
    display: inline-block;
}
.menu li {
    position: relative;
    list-style-type: none;
}
.menu a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 18px 3.5rem;
    transition: background-color .22s ease, color .22s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.menu .inicio:hover {
    border-bottom: 3px solid black;
}
.menu .cachorro:hover {
    border-bottom: 3px solid #f1a517;
    color: #f1a517;
}
.menu .gato:hover {
    border-bottom: 3px solid #313B45;
    color: #313B45;
}
.menu .passaro:hover {
    border-bottom: 3px solid #6EC7EA;
    color: #6EC7EA;
}
.menu .servico:hover {
    border-bottom: 3px solid #FF4D55;
    color: #FF4D55;
}
.menu .promocao:hover {
    border-bottom: 3px solid #fdcf01;
    color: #fdcf01;
}

.submenu-cachorro a:hover {
    background-color: rgb(241, 165, 23, 0.5);
    border-radius: 20px;
}
.submenu-gato a:hover {
    background-color: rgb(49, 59, 69, 0.5);
    border-radius: 20px;
}
.submenu-outros a:hover {
    background-color: rgb(110, 199, 234, 0.5);
    border-radius: 20px;
}

.img-menu {
    display: none;
}
.menu .inicio:hover > .img-menu {
    display: block;
    animation: slideup .3s ease;
    padding-right: 10px;
    width: 35px;
}
.menu .cachorro:hover > .img-menu {
    display: block;
    animation: slideup .3s ease;
    padding-right: 10px;
    width: 42px;
}
.menu .gato:hover > .img-menu {
    display: block;
    animation: slideup .3s ease;
    padding-right: 10px;
    width: 35px;
}
.menu .passaro:hover > .img-menu {
    display: block;
    animation: slideup .3s ease;
    padding-right: 10px;
    width: 35px;
}
.menu .servico:hover > .img-menu {
    display: block;
    animation: slideup .3s ease;
    padding-right: 10px;
    width: 45px;
}
.menu .promocao:hover > .img-menu {
    display: block;
    animation: slideup .3s ease;
    padding-right: 10px;
    width: 45px;
}

.menu a:hover > .img-menu {
    display: block;
    animation: slideup .3s ease;
    padding-right: 10px;
    width: 20px;
}


.submenu {
    position: absolute;
    background-color: #F5F0F0;
    width: 120%;
    left: 0;
    display: none;
}


.submenu2 {
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    background-color: #F5F0F0;
    display: none;
}

.menu li:hover > .submenu {
    display: block;
    animation: slideup .3s ease;
}

.submenu li:hover > .submenu2 {
    display: block;
    animation: slideleft .3s ease;
}

.card-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
}

.produto {
    display: flex;
    margin: 1.5% 0;
}
.produto-direita {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-produto {
    width: 55%;
}

.produto-esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nome-produto{
    font-size: 30px;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
}
.preco-produto {
    font-size: 26px;
    margin-bottom: 1%;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.divisao-produto {
    font-size: 22px;
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
}
.quantidade-produto {
    font-size: 20px;
}
.contador {
    margin: 2% 0;
}
.btn-contador {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.input-contador {
    width: 30px;
    height: 30px;
    padding-left: 1%;
}

.quantidadeProduto {
    display: none;
}

.btn-comprar {
    width: 50%;
    height: 40px;
    font-size: 18px;
    background-color: black;
    color: #F5F0F0;
    border: none;
    margin: 2% 0;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.descricao {
    margin: 3% 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.img-whatsapp{
    position: fixed;
    bottom: 5%;
    right: 2%;
    width: 4%;
}

footer{
    display: flex;
    align-items: center;
}

.redes{
    width: 45%;
    padding: 1%;
}

.img-redes {
    width: 5%;
}


@keyframes slideup {

    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {

    0% {
        opacity: 0;
        transform: translateX(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}