<!DOCTYPE html>
<html>
    <head>
        <title>Pet Shop</title>
        <meta charset="utf-8">
        <meta name="description" content="Página web de pet shop">
        <link rel="shortcut icon" type="image/jpg" href="../static/image/logo.png"/>
        <link rel="stylesheet" href="../static/style/login.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="div-container">
                    <a href="/"><img class="img-logo" src="../static/image/logo.png" alt="Logo tipo do petshop"></a>
                </div>
            </div>
        </header>
        <section class="conteudo">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning">
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}
            <div class="infos">
                <div class="info-esquerda">
                    <h2>Acessar ou criar conta</h2>
                    <div class="box-login">
                        <h3>Acesse sua conta</h3>
                        <form method="POST">
                            <label for="email">E-mail</label>
                            <input type="text" id="email" name="email" placeholder="Digite seu email">
                            <label for="senha">Senha</label>
                            <input type="password" id="senha" name="senha" placeholder="Sua senha">
                            <button type="submit" class="button-left">Entrar</button>
                        </form>
                        
                    </div>
                </div>
                <div class="info-direita">
                    <div class="box-info-direita">
                        <h2>Criar uma conta é rápido, fácil e gratuito!</h2>
                        <p>Com a sua conta você tem acesso a Ofertas exclusivas, descontos, pode criar e gerenciar a sua Assinatura, acompanhar os seus pedidos e muito mais!</p>
                        <a href="/cadastro" class="button-right">Criar minha conta</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="rodape">
            <div class="copy">Copyright 2024 <i class="fa-solid fa-copyright" style="color: rgb(117, 117, 117);"></i></div>
        </footer>
    </body>
</html>