<!DOCTYPE html>
<html>
    <head>
        <title>Pet Shop</title>
        <meta charset="utf-8">
        <meta name="description" content="Página web de pet shop">
        <link rel="shortcut icon" type="image/jpg" href="../static/image/logo.png"/>
        <link rel="stylesheet" href="../static/style/perfil.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="div-container">
                    <img class="img-logo" src="../static/image/logo.png" alt="Logo tipo do petshop">
                </div>
                <div class="div-container">
                    
                </div>
                <div class="div-container login">
                    <div class="user">
                        <a href="/perfil"> Olá, {{current_user.nome_humano}}</a>
                        <a id="logout" href="/logout">Sair</a>
                    </div>                   
                </div>
            </div>
            <nav>
                <ul class="menu">
                    <li><a class="inicio" href="/"><img class="img-menu" src="{{ url_for('static', filename='image/inicio.png')}}" alt="imagem menu">Inicio</a></li>
                    <li><a class="cachorro" href="#"><img class="img-menu" src="{{ url_for('static', filename='image/cachorro.png')}}" alt="imagem cachorro">Cachorro</a>
                        <ul class="submenu submenu-cachorro">
                            <li><a href="/produtos/racao/1">Ração</a></li>
                            <li><a href="/produtos/acessorio/1">Acessórios</a></li>
                            <li><a href="/produtos/medicamento/1">Medicação</a></li>
                            <li><a href="/produtos/higienie/1">Higiene</a></li>
                            <li><a href="/produtos/brinquedo/1">Brinquedos</a></li>
                        </ul>
                    </li>
                    <li><a class="gato" href="#"><img class="img-menu" src="{{ url_for('static', filename='image/gato.png')}}" alt="imagem gato">Gato</a>
                        <ul class="submenu submenu-gato">
                            <li><a href="/produtos/racao/2">Ração</a></li>
                            <li><a href="/produtos/acessorio/2">Acessórios</a></li>
                            <li><a href="/produtos/medicamento/2">Medicação</a></li>
                            <li><a href="/produtos/higienie/2">Higiene</a></li>
                            <li><a href="/produtos/brinquedo/2">Brinquedos</a></li>
                        </ul>
                    </li>
                    <li><a class="passaro" href="#"><img class="img-menu" src="{{ url_for('static', filename='image/passaro.png')}}" alt="imagem pássaro">Outros Pets</a>
                        <ul class="submenu submenu-outros">
                            <li><a href="#">Peixe</a>
                                <ul class="submenu2">
                                    <li><a href="/produtos/racao/6">Ração</a></li>
                                    <li><a href="/produtos/acessorio/6">Acessórios</a></li>
                                    <li><a href="/produtos/medicamento/6">Medicação</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Hamster</a>
                                <ul class="submenu2">
                                    <li><a href="/produtos/racao/3">Ração</a></li>
                                    <li><a href="/produtos/acessorio/3">Acessórios</a></li>
                                    <li><a href="/produtos/brinquedo/3">Brinquedos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pássaro</a>
                                <ul class="submenu2">
                                    <li><a href="/produtos/racao/4">Ração</a></li>
                                    <li><a href="/produtos/acessorio/4">Acessórios</a></li>
                                    <li><a href="/produtos/medicamento/4">Medicação</a></li>
                                    <li><a href="/produtos/higienie/4">Higiene</a></li>
                                    <li><a href="/produtos/brinquedo/4">Brinquedos</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Porquinho da India</a>
                                <ul class="submenu2">
                                    <li><a href="/produtos/racao/5">Ração</a></li>
                                    <li><a href="/produtos/acessorio/5">Acessórios</a></li>
                                    <li><a href="/produtos/brinquedo/5">Brinquedos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="servico" href="/servicos"><img class="img-menu" src="{{ url_for('static', filename='image/servico.png')}}" alt="imagem coração">Serviços</a></li>
                    <li><a class="promocao" href="/promocao"><img class="img-menu" src="{{ url_for('static', filename='image/promocao.png')}}" alt="imagem desconto">Promoções</a></li>
                </ul>
            </nav>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning">
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
         {% endwith %}
        <section class="conteudo">
            <div class="info-esquerda">
                <div class="box-login">
                    <form method="post">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" value="{{current_user.nome_humano}}" placeholder="Digite seu nome completo">
                        <label for="cpf">CPF</label>
                        <input type="text" id="cpf" name="cpf" value="{{current_user.cpf_humano}}" disabled>
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email" value="{{current_user.email_humano}}" placeholder="Digite seu email">
                        <label for="celular">Celular</label>
                        <input type="tel" id="celular" name="celular" value="{{current_user.contato_humano}}" placeholder="DDD + Celular">
                        <label for="endereco">Endereço</label>
                        <input type="text" id="endereco" name="endereco" value="{{current_user.endereco_humano}}" placeholder="Digite seu endereço">
                        <label for="senha">Senha</label>
                        <div class="password">
                            <input type="password" id="senha" name="senha" value="{{current_user.senha}}" placeholder="Digite uma senha">
                            <i class="fa-regular fa-eye" style="color: #0a0a0a;" id="btn-senha" onclick="mostarSenha()"></i>
                        </div>
                        <input type="submit" class="save" nome="salvar" value="Salvar alterações">
                        <a href="/delete/conta/{{current_user.id}}" class="excluir-conta">Excluir conta</a>
                    </form>
                </div>
            </div>
            <div class="info-direita">
                <div class="box-info-direita">
                    <div class="meus-pets">
                        <table>
                            <tr>
                                <th>Meus Pets</th>
                                <th>&nbsp;</th>
                            </tr>
                            {% if pets != [] %}
                            {% for pet_id, nome_cliente, id_animal, id_humano in pets %}
                            <tr>
                                <td>{{nome_cliente}}</td>
                                <td class="excluir-pet"><a href="/delete/pet/{{pet_id}}"><i class="fa-solid fa-x" style="color: #d80202;"></i></a></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                        <button class="add-left">Adicionar um novo Pet</button>
                        <dialog>
                            <div>
                                <form action="/savePet" method="POST">
                                    <label for="pet">Qual o seu pet:</label>
                                    <select id="pet" name="petModal" required>
                                        <option value="">Selecione uma opção</option>
                                        <option value="1">Cachorro</option>
                                        <option value="2">Gato</option>
                                        <option value="4">Pássaro</option>
                                        <option value="3">Hamster</option>
                                        <option value="5">Porco da India</option>
                                        <option value="6">Peixe</option>
                                    </select>
                                    <label for="nomePet">Qual o nome do seu pet:</label>
                                    <input type="text" id="nomePet" name="nomePetModal" placeholder="Nome do pet" required>
                                    <input type="submit" value="Salvar" class="salvar-modal">
                                    <a href="/perfil" class="cancelar-modal">Cancelar</a>
                                </form>
                            </div>
                        </dialog>
                    </div>
                    <div class="Consultas">
                        <table class="tabela-consulta">
                            <tr>
                                <th colspan="4">Consultas</th>
                                <th>&nbsp;</th>
                            </tr>
                            {% if consultas != [] %}
                            {% for id, nome, profissional, servico, data, hora in consultas%}
                            <tr class="linha-consulta">
                                <td>{{data}} - {{hora}}</td>
                                <td>{{servico}}</td>
                                <td>{{profissional}}</td>
                                <td>{{nome}}</td>
                                <td><a href="/delete/consulta/{{id}}"><i class="fa-solid fa-x" style="color: #d80202;"></i></a></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <footer class="rodape">
            <div class="copy">Copyright 2024 <i class="fa-solid fa-copyright" style="color: rgb(117, 117, 117);"></i></div>
        </footer>
        <script src="{{ url_for('static', filename='js/perfil.js')}}"></script>
    </body>
</html>